# Node modules for both backend and mobile
node_modules/

# React Native build folders
android/app/build/
ios/build/
build/
dist/

# Logs
npm-debug.log
yarn-error.log

# Environment
.env

# macOS
.DS_Store
